web-client-desktop-*.tar.xz
plex-media-player-*.tar.gz
web-client-tv-*.tar.xz
/buildid-180-afec74de50e175.cmake
/web-client-desktop-4.29.2-e50e175.tar.xz.sha1
/web-client-tv-4.29.3-afec74d.tar.xz.sha1
/buildid-181-9e1b1f2e50e175.cmake
/web-client-tv-4.29.4-9e1b1f2.tar.xz.sha1
/buildid-182-13c4ebbe50e175.cmake
/web-client-tv-4.29.5-13c4ebb.tar.xz.sha1
/buildid-183-045db5be50e175.cmake
/web-client-tv-4.29.6-045db5b.tar.xz.sha1
